body{
	padding: 0px;
	margin: 0px;
	height: 122hv;
	letter-spacing: 2px;
	font-family: 'tahoma';
	background-color: lightblue;
}
.container{
	box-shadow: 0 5px 10px rgba(0,0,0,0.5);
	margin: auto;

}
.profile-picture-container img{
	width: 150px;
	height: 150px; 
	margin-left: 1300px;
	margin-top: 1%;
	float: right;
	
}


	